* {
    margin: 0;
    padding: 0;
}

button {
    border: solid lightgrey 2px;
    background-color: white;
    padding: 20px 30px;
    border-radius: 16px;
    cursor: pointer;
    position: absolute;
    top: 50%;
}

body {
    display: grid;
    place-items: center;
}

