* {
    margin: 0;
    padding: 0;
}

button {
    border: solid lightgrey 2px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 16px;
    position: absolute;
    top: 50%;
}

body {
    display: flex;
    justify-content: center;
}